header {
    text-align: center;
    height: 100px;
    max-height: 100px;
    
    background-color: lightskyblue;
    border-style:ridge; 
    border-color:rgb(6, 44, 148);
    border-width: 25px;
    margin-bottom: 15px;


}

article {
    height: 700px;
    text-align: center;
    background-color: lightskyblue;
    border-style:ridge; 
    border-color:rgb(6, 44, 148);
    border-width: 25px;
    

}

footer {
    background-color: lightskyblue;
    border-style:ridge; 
    border-color:rgb(6, 44, 148);
    border-width: 25px;
    height: 100px;
    max-height: 100px;
    margin-top: 15px;

}


html {
    background: linear-gradient(0deg, #16749c, #e2c949);
    padding:25px;
}
