header {
    text-align: center;
    background-color: yellowgreen;
    margin:25px;
    padding: 25px;

}

main {
    text-align: center;
    background-color: yellowgreen;
    margin:25px;
    padding: 500px;

    
}