header {
    text-align: center;
    height: 100px;
    max-height: 100px;

    background-color: gainsboro;
    border: solid black;
    margin-bottom: 15px;


}

article {
    height: 700px;
    text-align: center;
    background-color: gainsboro;
    border: solid black;
    

}

footer {
    background-color: gainsboro;
    border: solid black;
    height: 100px;
    max-height: 100px;
    margin-top: 15px;

}


html {
    background: linear-gradient(0deg, #16749c, #e2c949);
    padding:25px;
}
