header {
    text-align: center;
    width: device-width;
    height: 100px;

    background-color: gainsboro;
    border: solid black;


}


article {
    height: 150px;
    text-align: center;
    background-color: gainsboro;
    border: solid black;
    

}

div {
    background-color: gainsboro;
    border: solid black;
}